.prefix_3.grid_6.suffix_3
  %p
    = link_to 'Sign In', new_user_session_path
    = link_to 'Sign Up', new_user_registration_path

  %h2 Recent Noms
  = render :partial => 'users/nom', :collection => @recent_noms
