- content_for :top_bar do
  = link_to 'Log Out', destroy_user_session_path

.prefix_3.grid_6.suffix_3
  = render 'noms/form'

  %h3 Recent Noms
  = render :partial => 'users/nom', :collection => @noms
