%html
  %h1 ZooNoms!
  - if user_signed_in?
    %p
      Welcome Back 
      =current_user.username
    %p
      %a{:href => destroy_user_session_path} Log Out
  - else
    %p
      %a{:href => new_user_session_path} Sign In
      |
      %a{:href => new_user_registration_path} Sign Up
