!!!
%html
  %head
    %title
      ZooNoms
    - %w{reset text 960 style}.each do |stylesheet|
      = stylesheet_link_tag stylesheet
    = csrf_meta_tag
  %body
    .container_12.container
      = yield :top_bar
      %h1.prefix_3.grid_6.suffix_3.title ZooNoms
      .box.prefix_3.grid_6.suffix_3
        = yield
